<div class="field">
  <input
    type="{{type}}"

    {{#if name}}
    name="{{name}}"
    {{/if}}

    class="field__input"

    {{#if label}}
    placeholder="{{label}}"
    {{/if}}

    {{#if required}}
    required
    {{/if}}
  />
  <label for="name" class="field__label">{{label}}</label>
  <div class="field__validation">
    {{#if error}}
      {{error}}
    {{else}}
      Необходимо заполнить поле
    {{/if}}
  </div>
</div>
